# Dataset CSVs
Dataset/raw_data/creator-roles.csv
Dataset/raw_data/creators.csv
Dataset/raw_data/developers.csv
Dataset/raw_data/games.csv
Dataset/raw_data/genres.csv
Dataset/raw_data/parent_platforms.csv
Dataset/raw_data/platforms.csv
Dataset/raw_data/publishers.csv
Dataset/raw_data/stores.csv
Dataset/raw_data/tags.csv
Dataset/processed/genres_flat.csv
Dataset/processed/parent_platforms_flat.csv
Dataset/processed/stores_flat.csv
Dataset/processed/tags_flat.csv
Dataset/processed/creator_roles_flat.csv
Dataset/processed/developers_flat.csv
Dataset/processed/publishers_flat.csv
Dataset/processed/creators_flat.csv
Dataset/processed/games_flat.csv
Dataset/processed/game_ratings.csv
Dataset/processed/game_genres.csv
Dataset/processed/game_platforms.csv
Dataset/processed/game_parent_platforms.csv
Dataset/processed/game_stores.csv
Dataset/processed/game_tags.csv
Dataset/processed/game_esrb.csv
Dataset/processed/developer_games.csv
Dataset/processed/publisher_games.csv
Dataset/processed/creator_games.csv
Dataset/processed/creator_positions.csv
Dataset/processed/platform_parent_platform.csv
Dataset/processed/platforms_flat.csv
